p {
  margin: 0px;
}

button {
  padding: 2px 14px;
  border-radius: 8px;
  border: none;
  background-color: #fff;
  margin: 0px 3px;
}

button:hover {
  background-color: #fef;
  cursor: pointer;
}
